* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	font-family: 'Open Sans', sans-serif;
}

body.dark{
	background-color: black;
}

.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
	text-align: center;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
}

body.dark .formulario input[type='text'] {
	padding: 20px;
	border: 2px solid;
	border-color: aqua;
	color:white;
	background: black;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	margin-top: 8px;
}

body.dark .formulario .btn {
	width: 100%;
	background: aqua;
	color: black;
	border: none;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}


.formulario .btn:hover {
	background: #3e14b2;
}

body.dark .formulario .btn:hover {
	background: #1cecec;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
	margin-bottom: 20px;
}

body.dark .contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
	margin-bottom: 20px;
}


.btn {
	border: 2px solid;
	border-color: black;
	margin-bottom: 26px;
	color: black;
	border-radius: 5px;
	width: 40%;
	cursor: pointer;
	padding: 9px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

body.dark .btn{
	border: 2px solid;
	border-color: aqua;
	margin-bottom: 26px;
	color: #1cecec;
	background-color: black;
}

.btn:hover {
	background: #bdbac6;
}

body.dark .btn:hover {
	background: #443c5b;
}

.switch {
	background: #343D5B;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: -webkit-box;
  display: -ms-flexbox;
	display: flex;
	outline: none;
}

.switch::after{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: white;
	top:0;
	left: 0;
	right: unset;
	border-radius: 100px;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active{
	background: orange;
	color: black;
}

.switch.active::after{
	right: 0;
	left: unset;
}

.switch span{
	width: 30px;
	height:30px;
	line-height: 30px;
	display:block;
	background:none;
	color:#fff;
}

.contenedorQR img{
	border: 2px solid;
	border-color: #fff;
}